{% extends "_layouts/base.twig" %}

{% block main %}

<section class="py-16 bg-gray-100">

    <div class="max-w-4xl mx-auto bg-white p-8 rounded-2xl shadow">

        <!-- Image -->


        {% if entry.speakerImage.one() %}
            <img src="{{ entry.speakerImage.one().url }}" 
                 class="w-40 h-40 object-cover rounded-full mx-auto mb-6">
        {% endif %}


        <!-- Name -->
        <h1 class="text-3xl font-bold text-center mb-2">
            {{ entry.title }}
        </h1>

        <!-- Designation -->
        <p class="text-center text-gray-500 mb-6">
            {{ entry.speakerBio }}
        </p>

        <!-- Bio -->
        <div class="prose max-w-none text-center">
            {{ entry.speakerCompany }}
        </div>

        <!-- Back Button -->
        <div class="text-center mt-8">
            <a href="/speakers" 
               class="inline-block bg-blue-600 text-white px-6 py-2 rounded-lg hover:bg-blue-700">
               ← Back to Speakers
            </a>
        </div>

    </div>

</section>

{% endblock %}